################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/back-end/Event_Management_System/.vs/Event_Management_System/v16/Server/sqlite3
/back-end/Event_Management_Application/.vs/Event_Management_Application/v16/Server/sqlite3
/back-end/Event_Management_Application/Event_Management_Application/bin/Debug
node_modules
