$UI_main_color: #8A2BE2;
$UI_background: #eaeaea;
$form_background: #ffffff;
$font_dark_color: #444444;
$font_shallow_color: #9a9a9a;
$button_shallow_color: #bababa;
$footer-background: #008543;
$button-hover-color: #25a65f
